.list {
  background: #ecedef;
  color: #4d4d4d;
  border-radius: 3px;
  display: inline-block;
  margin: 0 8px;
  text-align: left;
  vertical-align: top;
  min-width: 270px;
  width: 270px;
}

.list__head {
  padding: 16px 8px 8px 8px;
  color: #4d4d4d;
  border-bottom: none;
  background: #ecedef;
  border-radius: 3px 3px 0 0;
}

.list__avatar {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  height: 50px;
  width: 50px;
  border-radius: 4px;
  background-color: white;
  background-position: center;
  background-size: 35px;
  background-repeat: no-repeat;
  background-image: url('../img/user.png');
  float: left;

  img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 4px;
  }
}

.list__nameBlock {
  float: left;
}

.list__name {
  font-weight: bold;
  display: inline-block;
  font-size: 16px;
  display: block;
}

.list__username {
  float: right;
  margin-top: 1px;
  font-size: 12px;
}

.list__discipline {
  font-size: 12px;
  text-align: left;
  color: #4d4d4d;
  font-weight: bold;
  margin-top: 4px;
}

.list__body {
  padding: 8px;
  overflow-y: scroll;
  max-height: 82vh;
  clear: both;
}

.list__card {
  box-sizing: border-box;
  padding: 16px 8px;
  color: black;
  max-width: 300px;
  min-height: 20px;
  margin: 8px auto;
  overflow: hidden;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  border-radius: 3px;
}

.list__card__title {
  font-size: 14px;
  line-height: 17px;
  clear: both;
  font-weight: 400;
  margin: 0 0 4px;
  overflow: hidden;
  word-wrap: break-word;
  color: #4d4d4d;

  a {
    text-decoration: none;
    color: #444;
  
    &:hover {
      text-decoration: underline;
    }
  }
}

.list__card__desc {
  display: none;
}

.list__card-count {
  max-width: 280px;
  margin: 0 auto;
  padding: 8px;

  > span {
    vertical-align: middle;
  }

  > em {
    font-weight: bold;
    vertical-align: middle;
  }
}

.list__card__board {
  text-align: left;
  font-size: 12px;
  margin: 8px 0 0 0;

  a {
    color: #444;
    font-weight: bold;
    text-decoration: none;
  }
}