@import './reset.scss';
@import '../js/components/Header/Header.scss';
@import '../js/components/List/List.scss';
@import '../js/components/Loader/Loader.scss';
@import '../js/components/Error/Error.scss';
@import '../js/components/Menu/Menu.scss';

html, body {
  font-family: helvetica;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  background-color: #FFF;
}

#dev-lists {
  text-align: center;
  display: flex;
  overflow-x: scroll;
  padding: 0 0 20px 0;
  width: 100%;
}

#change-board {
  display: inline-block;
  margin-left: 15px;
  cursor: pointer;
  vertical-align: middle;
  font-size: 15px;
  height: 35px;
  text-transform: capitalize;
}