@import './reset.scss';
@import '../js/components/Header/Header.scss';
@import '../js/components/List/List.scss';
@import '../js/components/Loader/Loader.scss';

html, body {
  font-family: helvetica;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  background-color: #164984;
}

h1 {
  display: inline-block;
  vertical-align: middle;
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-transform: capitalize;
}

#dev-lists {
  text-align: center;
  display: flex;
  overflow-x: scroll;
  padding: 0 0 20px 0;
}

#change-board {
  display: inline-block;
  margin-left: 15px;
  cursor: pointer;
  vertical-align: middle;
  font-size: 15px;
  height: 35px;
  text-transform: capitalize;
}

@media screen and (max-width: 767px) {
  h1 {
    display: block;
    margin: 20px 0 0 0;
  }
}